.first{
    display: table-cell;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(red,yellow);
    vertical-align: middle;
}
.intro>h1{
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.intro>p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    line-height: 2;
    margin-top: 10px;
}
.btn{
    width: 40%;
    height: 100px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30%;
    background-color: transparent;
    box-shadow: 10px 10px 10px rgb(255, 128, 0);
    color: white;
    font-size: 24px;
    border: 1px solid white;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 149, 0);
}
img{
    width: 100px;
}
.msg{
    position: absolute;
    top: 210px;
    left: 29%;
    border: 1px solid red;
    width: 42%;
    height: 370px;
    background: white;
    border-radius: 5px;
}
.msg input{
    height: 30px;
    width: 46%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 3px;
}
.msg textarea{
    width: 96%;
    margin-left: 2%;
    height: 200px;
    margin-bottom: 10px;
    padding-left: 3px;
}
.msg button{
    width: 96%;
    margin-left: 2%;
    height: 35px;
    margin-bottom: 5px;
    border: 1px solid rgb(255, 123, 0);
    background: orange;
    color: white;
}
.msg button:hover{
    cursor: pointer;
    background: rgb(255, 123, 0);
}
@media screen and (max-width:415px) {
    .intro>h1{
        font-size: 3em;
        line-height: 1.5;
    }
    .intro>p{
        line-height: 1.6;
    }
    .msg{
        width:76%;
        left: 12%;
        top:170px;
    }
    .btn{
        width:60%;
        margin-left: 20%;
    }

}